<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.rajneesh.jrecapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/avd_anim"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.education.rajneesh.com.education.jrecapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.aboutus"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.location"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.contact"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.coursesexpand"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.aboutexpand"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.gallery"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.rscit"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.tally"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.hardware"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.pmkvy"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.pwd"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.fab"
            android:theme="@style/Theme.AppCompat.Translucent1" />
        <activity
            android:name="com.education.rajneesh.com.education.jrecapp.fab1"
            android:theme="@style/Theme.AppCompat.Translucent2" />
        <activity android:name="com.education.rajneesh.com.education.jrecapp.fast"
            android:theme="@style/Theme.AppCompat.Translucent1"></activity>
    </application>

</manifest>